<!DOCTYPE html>
<html>
<head>
  <title>Teamsite | <%= @title  %></title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/shim' %>
  
</head>
<body>
	<%= render 'layouts/header' %> 
	<div class = "container">
		<%= yield %>
		<%= render 'layouts/footer' %>
</div>		
</body>
</html>
